<!-- <section class="four-up-feature">
  <div class="row four-up-feature-header align-center">
    <div class="medium-12 columns">
      <h2>The Menu</h2>
      <h5>Take a look at all the options you can order. Click a package to see more.</h5>
    </div>
  </div>
  <div class="row align-spaced">
    <div class="small-10 medium-3 columns">
      <img class="four-up-feature-image" src="http://placehold.it/75" alt="icon">
      <h4>Basic Package</h4>
      <div class="four-up-feature-text">
        <ul>
          <li>Landing page</li>
          <li>About us</li>
          <li>Contact form</li>
          <li>Domain setup</li>
          <li>Admin panel</li>
          <li>Social media links</li>
          <li>+$29 monthly hosting & maintenance</li>
        </ul>
      </div>
    </div>
    <div class="small-10 medium-3 columns">
      <div>Most Popular</div>
      <img class="four-up-feature-image" src="http://placehold.it/75" alt="icon">
      <h4>Premium Package</h4>
      <div class="four-up-feature-text">
        <ul>
          <li>Landing page</li>
          <li>About us</li>
          <li>Contact form</li>
          <li>Domain setup</li>
          <li>Admin panel</li>
          <li>Social media links</li>
          <li>Gallery page for images</li>
          <li>+$49 monthly hosting & maintenance</li>
        </ul>
      </div>
    </div>
    <div class="small-10 medium-3 columns">
      <img class="four-up-feature-image" src="http://placehold.it/75" alt="icon">
      <h4>The Whole Enchilada</h4>
      <p class="four-up-feature-text">
        Do you need someone to handle your site from top to bottom? From site creation, design, build, and management. We will take care of the whole enchilada! Enter your email to get started.
      </p>
    </div>
  </div>
</section> -->

<section>
  <div class="medium-12 columns" align="center" style="padding-bottom:2em;">
    <h2>The Menu</h2>
    <h5>Order the plate thats right for you and your company</h5>
  </div>
</div>
  <div style="align:center">
    <table style="width:50%;" align="center">
    <tr>
      <th></th>
      <th>Basic $799</th>
      <th>Premium $1199</th>
      <th>Whole Enchilada</th>
    </tr>
    <tr>
      <td>Landing page</td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
    </tr>
    <tr>
      <td>About Us Page</td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
    </tr>
    <tr>
      <td>Contact Form</td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
    </tr>
    <tr>
      <td>Domain Setup</td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
    </tr>
    <tr>
      <td>Admin Panel</td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
    </tr>
    <tr>
      <td>Social Media Links</td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
    </tr>
    <tr>
      <td>Custom Gallery Pages</td>
      <td></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
    </tr>
    <tr>
      <td>Custom Site Design</td>
      <td></td>
      <td></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
    </tr>
    <tr>
      <td>Database Management</td>
      <td></td>
      <td></td>
      <td><span class="badge success"><i class="fi-check"></i></span></td>
    </tr>
    <tr>
      <td>Monthly Hosting Fee</td>
      <td>$29</td>
      <td>$49</td>
    </tr>
    <tr>
      <td></td>
      <td>Select</td>
      <td>Select</td>
      <td>Select</td>
    </tr>
  </table>
</div>
</section>
