<div class="top-nav-section">
  <div class="expanded row">
    <div class="large-12 columns">
      <ul class="menu menu-hover-lines">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Info</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="top-section">
  <div class="row">
    <div class="large-4 small-10 small-centered">
      <div class="email-form">
        <div class="input-group">
          <input class="input-group-field" type="email">
          <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
