<div class="top-nav-section" id="top">
  <div class="expanded row">
    <div class="large-12 columns">
      <ul class="menu menu-hover-lines">
        <li class="active"><a href="#">Home</a></li>
        <li><%= link_to "About Us", root_path(anchor: "about") %></li>
        <li><%= link_to "Info", root_path(anchor: "info") %></li>
      </ul>
    </div>
  </div>
</div>

<div class="top-section">
  <div class="row">
    <div class="large-4 small-10 small-centered">
      <div class="email-form">
        <div class="input-group">
          <input class="input-group-field" type="email">
          <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="info">
  <%= render 'info' %>
</div>

<div id="about">
  <%= render 'about' %>
</div>
