<div class="top-section">
  <div class="row">
    <div class="large-12 columns text-center">
      <h2 class="main-title">Taco Consulting</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-4 small-10 small-centered">
      <p class="text-center email-text">
        Enter your email if you interested in learning how we can help you and make life just a little bit easier for you and your business.
      </p>
      <div class="email-form">
        <div class="input-group">
          <input class="input-group-field" type="email">
          <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="info">
  <%= render 'info' %>
</div>

<div id="about">
  <%= render 'about' %>
</div>
