<div class="top-section">
  <div class="row">
    <div class="large-12 columns text-center">
      <h2>Taco Consulting</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-4 small-10 small-centered">
      <div class="email-form">
        <div class="input-group">
          <input class="input-group-field" type="email">
          <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="info">
  <%= render 'info' %>
</div>

<div id="about">
  <%= render 'about' %>
</div>
