$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 3px;

@import 'settings';

.top-section {
  background: image-url("top-section-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}

// .email-form {
//   margin-top: 175px;
// }

$highlight: yellow;

.responsive-blog-footer {
  background: darken(gray, 25%);
  padding: 3rem 3rem;
  color: white;

  h4 {
    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  p {
    color: gray;
  }

  .mailing-list {
    margin-bottom: 1.5rem;
  }
  .mailing-container {
    margin-bottom: 2rem;
  }

  .about-section, .tag-section {
    margin-bottom: 2rem;

    a {
      color: $highlight;
    }
  }

  .subscribe-button {
    background-color:$highlight;
    color: #404040;

    &:hover {
     background-color: darken($highlight, 5%);
     transition: color 0.3s ease-in;
    }
  }

  .fa-chevron-circle-up {
    font-size: 3rem;
    color: gray;

     &:hover {
     color: lighten(gray, 15%);
     transition: color 0.3s ease-in;
    }
  }
}

.top-nav-section {
  background: #404040;
}

#info {
  background: #95a5a6;
}

$light-gray: #bdc3c7;
$medium-gray: #95a5a6;

$product-feature-section-large-width: 75%;
$product-feature-section-bg: $light-gray;
$product-feature-section-divider-color: $medium-gray;

.product-feature-section {
  background: $product-feature-section-bg;
  padding: 1rem;
}

.product-feature-section-outer {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;

  @include breakpoint(medium) {
    max-width: $product-feature-section-large-width;
  }
}

.product-feature-section-headline {
  margin-bottom: 2rem;
  text-align: center;
}

.product-feature-section-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-feature-section-feature {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  flex: 1 0 50%;
  justify-content: flex-start;
  flex-direction: column;

  &.top-left {
    border-right: 1px solid $product-feature-section-divider-color;
    border-bottom: 1px solid $product-feature-section-divider-color;
  }

  &.top-right {
    border-bottom: 1px solid $product-feature-section-divider-color;
  }

  &.bottom-left {
    border-right: 1px solid $product-feature-section-divider-color;
  }

  .feature-title {
    margin-bottom: 0;
    line-height: 16px;
    font-size: 0.875rem;
  }

  .feature-desc {
    margin-bottom: 0;
  }

  .fa {
    margin-right: 1.25rem;
    font-size: 2rem;
  }

  @include breakpoint(medium) {
    padding: 2rem;
    flex: 1 0 50%;
    justify-content: flex-start;
    flex-direction: row;
  }
}

.four-up-feature {
  text-align: center;

  .four-up-feature-header {
    margin-bottom: 3rem;
    display: flex;
  }

  .four-up-feature-image {
    margin-bottom: 2rem;
  }

  .four-up-feature-text {
    margin-bottom: 2rem;
  }
}

.main-title {
  font-family: 'Bungee Outline', cursive;
  font-size: 100px;
  color: #ecf0f1;
  @media screen and (max-width: 39.9375em) {
    font-size: 50px;
  }
  // @media screen and (min-width: 40em) and (max-width: 63.9375em) {
  //   font-size: 20px;
  // }
}
.secondary-title {
  font-family: 'Bungee Outline', cursive;
  font-size: 50px;
  color: #ecf0f1;
  @media screen and (max-width: 39.9375em) {
    font-size: 50px;
  }
}

.email-text {
  color: #2C3840;
}
