<% if flash[:notice] %>
  <div class="large-6 small-12 large-centered small-centered text-center">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="large-6 small-12 large-centered small-centered text-center">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
